.phrase {
	padding: 10px;
	width: 100%;
}

.inputBox {
	width: 44%;
}

.traductionBox {
	width: 44%;
}

.translateButton {
	width: 30px;
	height: 30px;
	vertical-align: middle; 
	display: inline-block;
}

.inputSection {
	border-style: ridge;
}

.dataSection {
	border-style: ridge;
}
.sectionTitle {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	width: 100%;
}
.inputControls {
	padding-right: 27px;
	float:right;
}

.drawControls{
	padding: 10px;
	border-style: none none solid none ;
}

.drawButton{
	padding-left: 20px;
	width: 30px;
	height: 30px;
}
.drawOption{
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.dataFrame{
	margin: 0 auto;
}
svg {

  margin: 0 auto; 
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}
